# Ignore Python virtual environment
myvenv/
venv/

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore IDE/editor files (optional but useful)
*.idea/
*.vscode/

cert.pem
key.pem

.env