version: "3.9"

services:
  api:
    build: .
    container_name: fastapi_app
    network_mode: "host"
    volumes:
      - ./backend:/app
      - ./frontend:/app/frontend
    env_file:
      - ./backend/.env
