uvicorn[standard]
python-socketio
fastapi-socketio
jinja2
sqlalchemy
sqlalchemy[asyncio]
asyncpg
python-dotenv
python-multipart
redis
colorama
fastapi==0.109.2
starlette==0.36.3 # pin fastapi too since it depends on starlette
cryptography      # your new addition
